@import "../base/mixins";
@import "../base/variables";

.hero {
	padding-block: 3.75rem;
	margin-block-start: $header-mobile;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero__inner {
	@include set-flex(center, center);
	height: 100%;
}

.hero__title {
	color: white;
}

// Tablet
@media only screen and (min-width: $break-tablet) {
	.hero {
		margin-block-start: $header-tablet;
		padding-block: 4.5rem;
		padding-inline: 6rem;
	}

	.hero__inner {
		@include set-flex(center, flex-start);

		&::after {
			content: "";
			background-image: url("/assets/patterns/white-circles.svg");
			background-position: 105% 50%;
			background-repeat: no-repeat;
			position: absolute;
			inset-inline: 0;
			height: 100%;
		}
	}

	.hero__title {
		font-size: 3.5rem;
	}
}

// Desktop
@media only screen and (min-width: $break-desktop) {
	.hero__inner::after {
		background-position: 102% 50%;
	}
}
