@import "../base/mixins";
@import "../base/variables";

.image-section {
	text-align: center;
	padding-block-start: 4.5rem;
	padding-inline: 2rem;
	overflow: hidden;
	margin-block-end: 4rem;

	&__title {
		@include set-font-size(2rem);
		color: var(--clr-navy-400);
		margin-block-end: 2rem;
		letter-spacing: -1.4px;
	}
	&__text {
		margin-block-end: 2rem;
		color: var(--clr-grey-400);
		margin-inline: auto;
	}
	&__overlay {
		user-select: none;
	}
	&__image {
		position: relative;
		img {
			border-radius: 100%;
			margin-block-end: 3.5rem;
			margin-inline: auto;
		}
		svg {
			position: absolute;
		}
	}
}

// Tablet
@media only screen and (min-width: $break-tablet) {
	.image-section {
		padding-inline: 6.125rem;
		background-image: url("/assets/patterns/circle.svg");
		background-repeat: no-repeat;
		background-size: 29rem;
		background-position: right -22rem top 13%;

		&__title {
			@include set-font-size(3rem);
		}

		&.flipped {
			background-position: left -22rem top 13%;
		}
	}
}

// Desktop
@media only screen and (min-width: $break-desktop) {
	.image-section {
		text-align: left;
		background-size: 29rem;
		background-position: right -22rem top 88%;
		position: relative;

		&__inner {
			@include set-flex(center, space-between, row-reverse);
			gap: 13.75rem;
		}
		&__body {
			width: 42%;
		}
		&__image {
			position: unset;
			overflow: hidden;
			img {
				--size: 452px;
				width: var(--size);
				height: var(--size);
				margin: 0;
			}
		}
		&.flipped {
			background-position: left -22rem top 100%;
			.image-section__inner {
				flex-direction: row;
			}
		}
	}
}
