@import "../base/mixins";
@import "../base/variables";
$nav-sidebar-width: 16rem;

.nav__links {
	@include reset-list;
	@include set-flex(unset, unset, column);
	background-color: var(--clr-navy-500);
	transition: all 0.5s ease-in-out;
	padding-block-start: 4rem;
	padding-inline: 2rem;
	width: $nav-sidebar-width;
	gap: 1.5rem;
	position: fixed;
	inset-inline: -80vw auto;
	inset-block: $header-height 0;
	z-index: 100;
	visibility: hidden;

	a {
		color: #ffffff;
		font-weight: 700;
		text-decoration: none;
		font-size: 1.125rem;
	}

	&::after {
		content: "";
		width: calc(100vw - $nav-sidebar-width);
		height: calc(100vh - $header-height);
		position: fixed;
		background-color: #000000;
		transition: inset-block-end 0.5s ease-in-out;
		opacity: 0.7;
		inset-inline-end: 0;
		inset-block-end: -100vh;
	}

	li:last-of-type {
		margin-block-start: auto;
	}
}

.nav__logo {
	transform: translate(-50%, -50%);
	position: absolute;
	width: 4.68rem;
	inset: 50%;
}

.nav__cta {
	@include reset-button;
	margin-block-end: 1.5rem;
	width: 100%;
	color: white;
	padding-block: 0.875rem;
	background-color: var(--clr-yellow-400);
}

.nav-open {
	overflow: hidden;
	.nav__links {
		inset-inline-start: 0;
		visibility: visible;
	}
	.nav__links::after {
		inset-block-end: 0;
	}
}

// MEDIA QUERIES
@media only screen and (min-width: $break-tablet) {
	$font-size: 0.9rem;

	.nav__links {
		all: unset;
		@include reset-list;
		@include set-flex(center, space-between, row);
		flex-grow: 1;
		gap: 2rem;

		&::after {
			all: unset;
		}

		a {
			color: var(--clr-grey-400);
			font-size: $font-size;
		}

		li:last-of-type {
			margin: unset;
			display: flex;
			flex-grow: 1;
			justify-content: flex-end;
		}
	}

	.nav__logo {
		all: unset;
		width: 6.75rem;
	}

	.nav__toggle {
		display: none;
	}

	.nav__cta {
		margin-block-end: 0;
		padding-inline: 2.4rem;
		width: fit-content;
		font-size: $font-size;
	}
}
