@import "../base/mixins";
@import "../base/variables";

#careers-1 {
	margin-block-end: 7.5rem;
	// Arrow overlay insets
	.image-section__image svg {
		inset: 53% 2%;
	}
}

.join-us {
	margin-block-end: 9rem;

	&__title {
		margin-block-end: 4rem;
		text-align: center;
	}
}

.career-listings {
	@include set-flex(center, space-between, column);
	margin-block-end: 7.5rem;
	padding-inline: 2rem;
	gap: 1rem;
}

// Tablet
@media only screen and (min-width: $break-tablet) {
	#careers-1 .image-section__image svg {
		inset: 53% -10rem auto auto;
	}
	.career-listings {
		padding-inline: 2.375rem;
	}
}

// Desktop
@media only screen and (min-width: $break-desktop) {
	#careers-1 .image-section__image svg {
		inset: 39rem 0 auto auto;
	}
	.join-us__title {
		margin-block-end: 6.5rem;
	}
	.career-listings {
		margin-block-end: 10rem;
	}
}
