@import "../base/mixins";
@import "../base/variables";

.career-listings {
	@include set-flex(center, space-between, column);
	margin-block-end: 7.5rem;
	padding-inline: 2rem;
	gap: 1rem;
}

// Tablet
@media only screen and (min-width: $break-tablet) {
	.career-listings {
		padding-inline: 2.375rem;
	}
}

// Desktop
@media only screen and (min-width: $break-desktop) {
	.career-listings {
		margin-block-end: 10rem;
	}
}
