@import "../base/mixins";
@import "../base/variables";

// Hero styles
.home-hero {
	background-image: url("/assets/images/home-hero-mobile.jpg");
	padding-block-start: 7.25rem;
	height: calc(100vh - $header-mobile);
	padding-inline: 2rem;
	position: relative;
	text-align: center;
	color: white;

	&::before {
		content: "";
		position: absolute;
		inset-block-end: 4rem;
		inset-inline: 0;
		height: 25%;

		background-image: url("/assets/patterns/right-arrow.svg");
		background-repeat: no-repeat;
		background-position: -18rem 92%;
	}
}

.home-hero__title {
	@include set-font-size(2.5rem);
	letter-spacing: -1.5px;
	margin-block-end: 1.5rem;
}

.home-hero__text {
	margin-block-end: 2.125rem;
	font-weight: 300;
}

@media only screen and (min-width: $break-tablet) {
	.home-hero {
		height: calc(100vh - $header-tablet);
		padding-block-start: 8.5rem;
		padding-inline: 6.125rem;

		&::before {
			background-image: url("/assets/patterns/right-arrow.svg"),
				url("/assets/patterns/white-circles.svg");
			background-position: -8rem 92%, 105% 92%;
		}
	}
	.home-hero__title {
		@include set-font-size(3.5rem);
	}
}
