@use 'base/reset';
@use 'base/variables';
@use 'base/mixins';

@use 'modules/hamburger';
@use 'modules/header';
@use 'modules/download';
@use 'modules/footer';
@use 'modules/hero';
@use 'modules/cta';

@use 'pages/front';

html,
p {
	font-family: "Lexend Deca", Helvetica, sans-serif;
}

a,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Space Mono", Helvetica, sans-serif;
	font-weight: 700;
}

.container {
	max-width: 69rem;
	margin-inline: auto;
}

// Link hover state
a {
	transition: color 0.3s ease-in-out;
	&:hover {
		color: var(--clr-yellow-400);
	}
}
