/* --------------- */
/* MODULE IMPORTS */
/* ------------- */

@use 'base/reset';
@use 'base/variables';
@use 'base/mixins';

@use 'modules/hamburger';
@use 'modules/header';
@use 'modules/download';
@use 'modules/footer';
@use 'modules/hero';
@use 'modules/button';
@use 'modules/image-section';
@use 'modules/numbered-section';
@use 'modules/values';
@use 'modules/career';
@use 'modules/question';

@use 'pages/front';
@use 'pages/archive-location';
@use 'pages/archive-career';
@use 'pages/page-about';

/* -------------- */
/* GLOBAL STYLES */
/* ------------ */

@import "./base/variables.scss";
@import "./base/mixins.scss";

body {
	font-family: "Lexend Deca", Helvetica, sans-serif;
	color: var(--clr-grey-400);
	font-size: 0.9375rem;
	font-weight: 300;
	text-align: center;
}

p {
	max-width: 36rem;
}

a,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Space Mono", Helvetica, sans-serif;
	font-weight: 700;
}

h2 {
	@include set-font-size(2rem);
}

h3 {
	@include set-font-size(1.5rem);
}

h4 {
	@include set-font-size(1.125rem);
	color: var(--clr-navy-400);
}

h2,
h3 {
	color: var(--clr-navy-400);
}

.container {
	max-width: 69rem;
	margin-inline: auto;
}

a {
	transition: color 0.3s ease-in-out;
	&:hover {
		color: var(--clr-yellow-400);
	}
}

@media only screen and (min-width: $break-tablet) {
	h2 {
		@include set-font-size(3rem);
	}
}

@media only screen and (min-width: $break-desktop) {
	body {
		text-align: unset;
	}
}
